DATABASE_URL=postgresql://postgres:db-password@db-host-name:5432/db-name
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=
INVENTORY_QUEUE=inventory

AWS_ACCESS_KEY_ID=fake-access-id
AWS_SECRET_ACCESS_KEY=fake-secret
S3_BUCKET_NAME=loh_bookstore
AI_QUEUE=ai